body {
	display: flex;
	flex-direction: column;
	flex-flow: column;
	flex-wrap: wrap;
	position: relative;
	background-color: black;
	color: white;
	font-family: 'Trade Winds', cursive;
}

h1 {
	background-color: black;
	text-align: center;
	font-family: 'Trade Winds', cursive;
}

.header {
	height: 330px;
	width: 100%;
	background-image:url(https://images.pexels.com/photos/415261/pexels-photo-415261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-position: center;
	background-size: cover;
	border-radius: 8px;

}

.container {
	width: 50%;
	align-items: center;
	align-self: center;
	align-content: center;
	flex-flow: column;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
}

.box {
	width: 100%;
	align-items: center;
	align-self: center;
	align-content: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

table {
	width: 75%;
	margin: 0px;
	padding: 0px;
	font-family: 'Trade Winds', cursive;
}

td {
	width: 100%;
	position: relative;
	flex-direction: row;
	background-color: black;
	justify-content: center;
	align-self: center;
	align-items: center;
	align-content: center;
	text-align: center;
	flex-flow: row;
	flex-wrap: wrap;
	position: relative;
	padding: 0px;
	margin: 0px;
}

.player {
	background-color: black;
}

.edit {
	background-color: black;
	color: white;
	font-family: 'Trade Winds', cursive;
}

.delete {
	background-color: black;
	color: white;
	font-family: 'Trade Winds', cursive;
}

form {
	background-color: rgb(75,145,190);
	font-family: 'Trade Winds', cursive;
}

.playerinfo {
	background-color: black;
	color: white;
	font-family: 'Trade Winds', cursive;
}
