body {
	display: flex;
	flex-direction: column;
	flex-flow: column;
	flex-wrap: wrap;
	position: relative;
	background-color: black;
	color: white;
	font-family: 'Trade Winds', cursive;
	background-image: url(https://images.unsplash.com/photo-1423068657086-889315a2eba8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3909b6e24b62c8157af7b79f63ab0f32&auto=format&fit=crop&w=1950&q=80);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	background-color: black;
	text-align: center;
	font-family: 'Trade Winds', cursive;
	border-radius: 8px;
}

.playerinfo {
	background-color: black;
	color: white;
	font-family: 'Trade Winds', cursive;
	border-radius: 8px;
	height: 280px;
}

.header {
	height: 330px;
	width: 100%;
	background-image:url(https://images.pexels.com/photos/415261/pexels-photo-415261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
	background-position: center;
	background-size: cover;
	border-radius: 8px;
	border: solid 2px gray;

}

.container {
	width: 50%;
	align-items: center;
	align-self: center;
	align-content: center;
	flex-flow: column;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
}

.addplayer {
	background-color: black;
	color: white;
}

button {
	border-radius: 4px;
	font-family: 'Trade Winds', cursive;
}

.box {
	width: 100%;
	align-items: center;
	align-self: center;
	align-content: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

table {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Trade Winds', cursive;
	border-radius: 8px;
}

td {
	width: 100%;
	position: relative;
	flex-direction: row;
	background-color: black;
	justify-content: center;
	align-self: center;
	align-items: center;
	align-content: center;
	text-align: center;
	flex-flow: row;
	flex-wrap: wrap;
	position: relative;
	padding: 0px;
	margin: 0px;
	border-radius: 8px;
}

.playerstatus {
	width: 20px;
}

.title {
	color: black;
}

.edit {
	background-color: black;
	color: white;
	font-family: 'Trade Winds', cursive;
}

.delete {
	background-color: black;
	color: white;
	font-family: 'Trade Winds', cursive;
}

form {
	background-color: gray;
	color: black;
	font-family: 'Trade Winds', cursive;
	border-radius: 8px;
	opacity: 1.0;
}
