body {
	display: flex;
	flex-direction: column;
	flex-flow: column;
	flex-wrap: wrap;
	position: relative;
	background-color: black;
	color: white;

}

h1 {
	background-color: blue;
}

.container {
	width: 60%;
	align-items: center;
	align-self: center;
	align-content: center;
	flex-flow: column;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
}

.box {
	width: 100%;
	align-items: center;
	align-self: center;
	align-content: center;
	text-align: center;
}
table {
	width: 24%;
	height: 50%;
	position: relative;
	flex-direction: row;
	background-color: purple;
	justify-content: center;
	align-self: center;
	align-items: center;
	align-content: center;
	text-align: center;
	flex-flow: row;
	flex-wrap: wrap;
	position: relative;
}

.player {
	background-color: red;
}

.edit {
	background-color: pink;
}

.delete {
	background-color: green;
}

form {
	background-color: orange;
}

.playername {
	background-color: blue;
}

p {
	background-color: green;
}
